.content-container-row form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 110, 127, 0.44);
    padding: 30px;
    margin: 15px 0 15px 0;
    min-width: 100%;
    border-radius: 4px;
}

.pair-creator .count {
    font-size: 16px;
    letter-spacing: 0.2px;
    font-weight: 500;
    position: absolute;
    top: 24px;
    left: -16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #f2f1f4;
    color: #b2afb6;
    text-align: center;
    line-height: 30px;
}




/*.content-container-row label {*/
/*    margin: 4px 0;*/
/*    font-weight: bold;*/
/*}*/

/*.content-container-row input {*/
/*    width: 100%;*/
/*    padding: 4px 8px;*/
/*    margin: 6px 0;*/
/*}*/