.profile-page-li {
    margin: 10px 20px
}

.content-outer-container-big {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    width: 500px;
    border-radius: 7px;
    padding: 10px;
    margin: 10px;
    background-color: #c5c5c5;
}

.profile-button-container {
    margin: 10px 10px -5px 10px;
}

