.image-preview {
    width: 200px;
    display: block;
}

.image-content-container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 700px;
    border-radius: 7px;
    padding: 5px;
    background-color: #ffffff;
}

.image-content-container-row form {
    display: flex;
    background-color: rgba(0, 110, 127, 0.44);
    border: solid 0.1px rgba(8, 59, 87, 0.37);
    box-shadow: 0 3px 5px rgba(8, 59, 87, 0.50);
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    min-width: 700px;
}

.image-form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin: 15px;
    max-width: 100%;
    border-radius: 7px;
}

label input[type=file] {
    cursor: pointer;
    padding-bottom: 100px;
    background-color: #ededed;
    box-shadow: 0 3px 5px rgba(8, 59, 87, 0.50);
    border: double 7px #fffaf7;
}

.label-img-upl-preview {
    margin-left: 30px;
    padding-left: 20px;
}