.popup-general {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    /*height: 100%;*/
    /*overflow: hidden;*/
    background: rgb(0, 0, 0, 0.0);
    animation: fadeBackground 1s forwards;
}

.popup-inner {
    animation: cssAnimation 0s 1s forwards;
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    /*margin: 200px 0;*/
    top: 20%;
    height: content-box;
    /*animation: slide 0.4s forwards;*/
}

.popup-inner button {
    margin-top: 25px;
}

.popup-inner-small {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 20px;
    max-width: 600px;
    border: 4px double rgba(8, 59, 87, 0.39);
    border-radius: 7px;
    /*overflow: hidden;*/
    /*animation: fadeBackground 1s forwards;*/
}


@keyframes cssAnimation {
    to   { visibility: visible; }
}

@keyframes fadeBackground {
100% {background: rgb(0, 0, 0, 0.8)}
}