.body-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    padding: 35px;
    max-width: 100%;
    border-radius: 7px;
    margin-bottom: 70px;
}

.body-inner-container-wide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffefad;
    padding: 20px;
    max-width: 100%;
    border-radius: 7px;
}

.body-inner-container-small {

}

.content-outer-container-big {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 7px;
    padding: 15px;
    margin: 15px;
    background-color: #c5c5c5;
}

.content-outer-container-big {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 7px;
    padding: 15px;
    margin: 15px;
    background-color: #c5c5c5;
}