footer {
    background-color: #ffeaad;
    color: #bd4a4a;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 3px;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: rgba(8, 59, 87, 0.25);
    border-width: 3px 0 0 0;
    /*box-shadow: 3px 3px 0 rgba(189, 74, 74, 0.35);*/
}

footer a,
footer a:visited,
footer a:active {
    color: #bd4a4a;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color: #083b57;
}

.footer-content {
    display: flex;
    align-items: center;
    position: center;
}

