.main-exercise-page {
    background: #f2f1f4;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-bottom: 24px;
    overflow-y: auto;
    z-index: 1;
}


/******CONTAINER-STYLING******/

.exam-exercise-info-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    max-width: 800px;
    border-radius: 7px;
    padding: 35px;
    margin: 15px;
    background-color: #ffffff;
    border: solid 0.1px rgba(8, 59, 87, 0.37);
    box-shadow: 0 3px 5px rgba(8, 59, 87, 0.50);
}

.exam-exercise-info-message p {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .4px;
    font-weight: 400;
    color: #424e52;
    margin-top: 16px;
    text-align: center;
}

.container-exercise-wrap{
    width: 100%;
    bottom: 16px;
    display: block;
    /*position: center;*/
    margin-right: auto;
    max-width: 1200px;
    /*padding-top: 60px;*/
    /*padding-bottom: 60px;*/
}

.exercise {
    box-shadow: 0 2px 2px rgb(0 0 0 / 8%);
    border-radius: 8px;
    background-color: #fff;
    position: relative;
}

.exercise-content {
    min-height: 86px;
    padding: 24px 16px;
}

.exam-entry-input {
    font-size: 20px;
    height: 60px;
    line-height: 30px;
    letter-spacing: .5px;
    font-weight: 500;
    border-bottom: 2px solid #d3d1d6;
    /*padding-bottom: 2px;*/
    border-radius: 0;
    width: 100%;
}

.exercise-title {
    text-align: center;
    margin: 50px 50px;
}

.text-hide {
    line-height: 20px;
    letter-spacing: 0;
    font-weight: 800;
    vertical-align: middle;
}

.exercise-bottom-bar {
    position: relative;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    /*overflow: hidden;*/
}

.btn-block {
    text-align: right;
    padding: 32px;
    border-top: 1px solid rgba(0,0,0,.1);
}

.btn-right button .visual {
    position: relative;
    display: inline-block;
    min-width: 100%;
    max-width: 100%;
    padding: 10px 24px;
    border-radius: inherit;
}

.btn-right {
    display: flex;
    justify-content: flex-end;
    margin: -4px;
    align-items: center;
    flex-wrap: wrap;
}

.btn-right button {
    background-color: #083b57;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgb(0 0 0 / 25%);
}

.btn-right button .visual .text-exam-btn {
    font-size: 17px;
    letter-spacing: .2px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.typo-msg .error-message {
    margin-top: 20px;
    margin-bottom: -37px;
}

.exercise-results {
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin: 25px 150px 0 150px;

}

.exercise-results span {
    border: solid 1.5px #bd4a4a;
    box-shadow: 0 2px 2px rgb(0 0 0 / 25%);
    margin: 0 15px;
    padding: 15px;
    border-radius: 25px;
    color: #041b28;
}

.exercise-results #msg {
    color: #545962;
    margin: 25px 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

/*TO DO: TO IMPLEMENT*/


.response-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




@media (min-width: 768px) {
    .container-exercise-wrap {
        flex: 0 0 auto;
        margin: auto;
        padding-top: 150px;
        padding-bottom: 150px;
        /*padding-top: 24px;*/
        /*padding-bottom: 24px;*/
    }
    .exercise {
        max-width: 744px;
        margin-left: auto;
        margin-right: auto;
    }
    .exercise-content {
        padding: 32px;
    }
}

.save-exam-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}





/******KEEP FOR LATER******/

/*show element timer seconds try styling*/
/*.text-animation-hide {*/
/*    !*font-size: 24px;*!*/
/*    line-height: 28px;*/
/*    letter-spacing: 0;*/
/*    font-weight: 800;*/
/*    vertical-align: middle;*/
/*    margin-right: 8px;*/
/*    !*-webkit-animation: fadeOut 5s linear;*!*/
/*    !*animation: fadeOut 5s linear;*!*/
/*    visibility: visible;*/
/*    opacity: 1;*/
/*    transition-delay: 3s;*/
/*}*/

/*.text-animation-hide {*/
/*    !*-webkit-animation: cssAnimation 0s ease-in 5s forwards;*!*/
/*    -webkit-animation-fill-mode: forwards;*/
/*    animation-fill-mode: forwards;*/
/*        -webkit-animation: fadeOut 5s linear;*/
/*        animation: fadeOut 5s linear;*/

/*}*/

/*@keyframes fadeOut {*/
/*    to {*/
/*        width:0;*/
/*        height:0;*/
/*        overflow:hidden;*/
/*    }*/
/*}*/
/*@-webkit-keyframes fadeOut {*/
/*    to {*/
/*        width:0;*/
/*        height:0;*/
/*        visibility:hidden;*/
/*    }*/
/*}*/



