.content {
  margin: 32px;
}

/*******BUTTON STYLING*******/
button {
  border-radius: 4px;
  min-width: 100px;
  border: none;
  padding: 8px 16px;
  background-color: #bd4a4a;
  color: white;
  font-weight: bold;
}

/*Zorgt ervoor dat als twee buttons naast elkaar staan, er altijd ruimte tussen blijft*/
button + button {
  margin-left: 20px;
}

button:hover {
  cursor: pointer;
  font-style: italic;
}

button[disabled] {
  background-color: rgba(189, 74, 74, 0.58);
}

button[disabled]:hover {
  cursor: inherit;
  font-style: normal;
}


/*******LINK STYLING*******/
a,
a:visited,
a:active {
  color: #083b57;
}

a:hover {
  color: #bd4a4a;
}

section  {
  margin: 10px 0 40px 0;
}

p {
  margin: 7px 0 7px 0;
}


/*******FORM STYLING*******/
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #faeab3;
  padding: 32px;
  margin: 15px 0 15px 0;
  max-width: 300px;
  border-radius: 4px;
}

form label {
  margin: 4px 0;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 4px 8px;
  margin: 6px 0;
}







/*Eventueel gebruiken, later bekijken*/
/*Zet mij op een element en ik blijf voor altijd draaien!*/
.loading-icon {
  width: 16px;
  height: 16px;
  animation: rotating 1.5s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
