.content {
  margin: 32px;
}


/*******TITLE & TEXT STYLING*******/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Sans", sans-serif, cursive;
}

h1 {
  text-align: center;
}

p {
  text-align: justify;
  margin: 7px 0 7px 0;
}

section {
  margin: 10px 0 40px 0;
}



/*******CONTAINER STYLING*******/
.body-outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-color: rgba(8, 59, 87, 0.25);*/
  padding: 35px;
  max-width: 100%;
  /*border-radius: 7px;*/
  /*border-style: solid;*/
  /*border-width: 2px;*/
  /*border-color: rgba(8, 59, 87, 0.25);*/
  margin-bottom: 60px;
  margin-top: 90px;
}

.body-inner-container-wide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  max-width: 100%;
  border-radius: 7px;
}

.body-inner-container-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 20px;
  /*max-width: 50%;*/
  max-width: 400px;
  /*min-width: 100px;*/
  /*max-width: 1000px;*/
  border-radius: 7px;
}

.content-container-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 700px;
  border-radius: 7px;
  padding: 15px;
  margin: 15px;
  background-color: #ffffff;
}

.content-container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 7px;
  padding: 15px;
  margin: 15px;
  background-color: #c5c5c5;
}


/*******TABLE STYLING*******/
table, td, th {
  border: 1px solid #006e7f;
  width: 100px;
  /*max-width: 150px;*/
}

th {
  background-color: #006e7f;
  color: white;
  text-align: left;
}

td, th {
  padding: 8px;
}

/*tr.td {*/
/*  min-width: 100px;*/
/*}*/

/*td > img {*/
/*  width: 60px;*/
/*  border-radius: 50%;*/
/*}*/

table {
  border-collapse: unset;
  border-radius: 10px;
  width: 95%;
  margin: 20px 0;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table button {
  background-color: rgba(0, 110, 127, 0.84);
  box-shadow: 0 3px 5px rgba(8, 59, 87, 0.50);
}

table button[disabled] {
  background-color: rgba(0, 110, 127, 0.32);
}


/*******BUTTON STYLING*******/
button {
  border-radius: 25px;
  min-width: 150px;
  border: none;
  padding: 8px 16px;
  background-color: #bd4a4a;
  color: white;
  font-weight: bold;

  transition: transform 0.3s ease;
  box-shadow: 0 3px 5px rgba(189, 74, 74, 0.50);
}

button::after, button::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  background-color: #bd4a4a;
  border-radius: inherit;
  /*width: 100%;*/
  /*height: 100%;*/
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;
}

/*Zorgt ervoor dat als twee buttons naast elkaar staan, er altijd ruimte tussen blijft*/
button + button {
  margin-left: 20px;
}

button:hover {
  cursor: pointer;
  font-style: italic;
  transform: translate(5px, -5px);
}

/*button:hover::after {*/
/*  transform: translate(6px, 6px);*/
/*}*/

/*button:hover::before {*/
/*  transform: translate(7px, 7px);*/
/*}*/

button[disabled] {
  background-color: rgba(189, 74, 74, 0.58);
}

button[disabled]:hover {
  cursor: inherit;
  font-style: normal;
}


/****HIDDEN-DIVS****/

.hidden-div {
  display: none;
  color: #fff6f2;
  text-align: center;
  background-color: #bd4a4a;
  opacity: 75%;
  border-radius: 30px;
  border-style: solid;
  border-width: 3px;
  border-color: #f50000;
  transform: translate(5px, -15px);
}

button[disabled]:hover + .hidden-div {
  display: block;
}

.hidden-div span {
  font-size: 13px;
  margin: 10px;
}

.hidden-div-2 {
  display: none;
  color: #fff6f2;
  text-align: center;
  background-color: #bd4a4a;
  opacity: 75%;
  border-radius: 30px;
  border-style: solid;
  border-width: 3px;
  border-color: #f50000;
  transform: translate(-5px, -5px);
}

button[disabled]:hover + .hidden-div-2 {
  display: block;
}

.hidden-div-2 span {
  font-size: 13px;
  margin: 10px;
}



/*******LINK STYLING*******/
a,
a:visited,
a:active {
  color: #083b57;
}

a:hover {
  color: #bd4a4a;
}


/*******FORM STYLING*******/
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(8, 59, 87, 0.23);
  padding: 32px;
  margin: 15px 0 15px 0;
  min-width: 400px;
  border-radius: 4px;
}

form label {
  margin: 4px 0;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 4px 8px;
  margin: 6px 0;
}


/*******ERROR STYLING*******/
.error-message {
  color: #bd4a4a;
  font-size: 13px;
  font-style: italic;
  text-align: center;
  margin-top: -3px;
  margin-bottom: 2px;
}

input[type=text].input-error {
  border: 1px solid #bd4a4a;
}

h1.error-message {
  font-size: 25px;
  margin-top: 250px;
}








/*Eventueel gebruiken, later bekijken*/
/*Zet mij op een element en ik blijf voor altijd draaien!*/
.loading-icon {
  width: 16px;
  height: 16px;
  animation: rotating 1.5s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
