@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Quicksand&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*TO DO: add final fonts to family*/
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
  /*background-color: rgba(8, 59, 87, 0.51);*/
}