nav {
    background-color: #ffeaad;
    color: #bd4a4a;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: 5px 35px;
    border-style: solid;
    border-color: rgba(8, 59, 87, 0.25);
    border-width: 0 0 3px 0;
    box-shadow: 0 3px 5px rgba(189, 74, 74, 0.35);
}

nav button {
    min-width: 100px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo-container-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}

.nav-logo-container-1 img {
    width: 50px;
    /*margin-right: 8px;*/
}

.nav-logo-container-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*.nav-logo-container-2 button:hover {*/
/*    cursor: pointer;*/
/*    font-style: italic;*/
/*    position: absolute;*/
/*    top: 30px;*/
/*    left: 400px;*/
/*    right: 400px;*/
/*    !*-webkit-transition: all 0.12s ease-out 0s;*!*/
/*    !*transition: all 0.12s ease-out 0s;*!*/
/*    !*-webkit-animation: active-press-backdrop .25s forwards;*!*/
/*    !*animation: active-press-backdrop .25s forwards;*!*/
/*}*/


nav a,
nav a:visited,
nav a:active {
    color: white;
}
