/*.nav-container {*/
/*    width: 1000px;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

.nav-logo-container-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}

.nav-logo-container-1 img {
    width: 50px;
    /*margin-right: 8px;*/
}

.nav-logo-container-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    background-color: #ffeaad;
    color: #bd4a4a;
    display: flex;
    padding: 5px 35px;
    align-items: center;
    justify-content: space-between;
}

nav a,
nav a:visited,
nav a:active {
    color: white;
}